*{
   padding: 0;margin: 0;
   box-sizing: border-box;
}
body {
   background-color: black;
}
@font-face {
   font-family: 'GothamBold';
   src: url('../src/fonts/GothamBold.ttf')
}
@font-face {
   font-family: 'GothamMedium';
   src: url('../src/fonts/GothamMedium.ttf') 
}
@font-face {
   font-family: 'GothamThin';
   src: url('../src/fonts/GothamLight.ttf') 
}